process {
    executor = "slurm"

    withLabel:small {
        cpus = 1
        time = "30m"
        memory = "16G"
        container = null
    } 
    
    withLabel:medium {
        cpus = 1
        time = "1h"
        memory = "20G"
        container = null
    }
    
    withLabel:large {
        cpus = 1
        time = "2h"
        memory = "32G"
        container = null
    }

    withName: ZNORM {
        container = 'https://hub.docker.com/repository/docker/mjn15/rtracklayer/general'
    }

    withName: AVGBWS {
        time = "1h"
        memory = "50G"
        container = null
    }

    withName: MAKEBWS {
        cpus = "1"
        time = "1h"
        memory = "50G"
        container = 'https://depot.galaxyproject.org/singularity/ucsc-bedgraphtobigwig:445--h954228d_0'
    }
}

singularity {
    enabled = true
}